<a href="https://colab.research.google.com/github/shubhankar-mern/collab-ml-ai/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
! git clone https://github.com/wlifferth/ghw-2023-02

Cloning into 'ghw-2023-02'...
remote: Enumerating objects: 24, done.
remote: Counting objects: 100% (24/24), done.
remote: Compressing objects: 100% (22/22), done.
remote: Total 24 (delta 5), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (24/24), 153.82 KiB | 3.84 MiB/s, done.

In [3]:
import pandas as pd

df = pd.read_csv('ghw-2023-02/loan_applications.csv')

df.head()

       race  credit_score  zipcode  will_default
0  hispanic           498    71202         False
1     white           812    71204         False
2     white           604    71203          True
3     black           339    71207          True
4  hispanic           582    71205         False

In [4]:
from sklearn.model_selection import train_test_split
df['is_creditworthy'] = df['will_default'] == False

X_train, X_test, y_train, y_test = train_test_split(df[['credit_score', 'race', 'zipcode']], df['is_creditworthy'], test_size=0.3, random_state=42)

In [5]:
len(X_train)

3521

In [6]:
len(X_test)

1510

In [7]:
df.head()

       race  credit_score  zipcode  will_default  is_creditworthy
0  hispanic           498    71202         False             True
1     white           812    71204         False             True
2     white           604    71203          True            False
3     black           339    71207          True            False
4  hispanic           582    71205         False             True

In [8]:
X_train

      credit_score      race  zipcode
725            616  hispanic    71202
3528           739     white    71207
4386           730     asian    71201
4086           637     asian    71202
1426           694  hispanic    71205
...            ...       ...      ...
4426           352  hispanic    71205
466            300     white    71200
3092           611     white    71202
3772           684     asian    71206
860            473     asian    71206

[3521 rows x 3 columns]

In [9]:
X_test

      credit_score      race  zipcode
3694           621  hispanic    71205
1788           545     white    71202
3423           679     asian    71201
5019           749     asian    71200
3131           428     black    71202
...            ...       ...      ...
543            821     white    71200
1046           604  hispanic    71206
2575           334     black    71207
2698           332     black    71206
30             599  hispanic    71202

[1510 rows x 3 columns]

In [10]:
y_train

725      True
3528     True
4386     True
4086     True
1426     True
        ...
4426    False
466     False
3092    False
3772     True
860      True
Name: is_creditworthy, Length: 3521, dtype: bool

In [11]:
y_test

3694     True
1788    False
3423     True
5019     True
3131     True
        ...
543      True
1046     True
2575    False
2698    False
30       True
Name: is_creditworthy, Length: 1510, dtype: bool

In [12]:
from sklearn.linear_model import LogisticRegression
X_train_vec = X_train[['credit_score']]
X_test_vec = X_test[['credit_score']]

In [13]:
X_train_vec

      credit_score
725            616
3528           739
4386           730
4086           637
1426           694
...            ...
4426           352
466            300
3092           611
3772           684
860            473

[3521 rows x 1 columns]

In [17]:
X_test_vec

      credit_score
3694           621
1788           545
3423           679
5019           749
3131           428
...            ...
543            821
1046           604
2575           334
2698           332
30             599

[1510 rows x 1 columns]

In [15]:
basic_model = LogisticRegression()
basic_model.fit(X_train_vec, y_train)
LogisticRegression()

LogisticRegression()

In [19]:
basic_model.score(X_test_vec, y_test)

0.8158940397350993

In [20]:
basic_model.coef_

array([[0.01406529]])

In [21]:
basic_model.intercept_

array([-7.87837671])

In [22]:
7.87837671/0.01406529

560.1289920079856

In [23]:
basic_model_test_predictions = basic_model.predict(X_test_vec)

In [24]:
basic_model_test_predictions

array([ True, False,  True, ..., False, False,  True])

In [38]:
def evaulate_by_race(input_data,predictions,correct_answer):
  for race in sorted(input_data['race'].unique()):
    print(race)
    indices = input_data['race'] == race
    preds_by_race = predictions[indices]
    correct_answer_by_race = correct_answer[indices]
    print(f'\tAccuracy: {sum(preds_by_race == correct_answer_by_race) / len(preds_by_race)}')

In [39]:
evaulate_by_race(X_test, basic_model_test_predictions, y_test)

asian
	Accuracy: 0.8222222222222222
black
	Accuracy: 0.8095238095238095
hispanic
	Accuracy: 0.775974025974026
white
	Accuracy: 0.8375912408759124

In [33]:
## economicsof bank

In [34]:
max_profit_model = LogisticRegression(class_weight={1:1,0:5})
max_profit_model.fit(X_train_vec,y_train)

LogisticRegression(class_weight={0: 5, 1: 1})

In [35]:
max_profit_model.score(X_test_vec, y_test)

0.6993377483443709

In [36]:
max_profit_predictions = max_profit_model.predict(X_test_vec)
sum(y_test == True)
sum(max_profit_predictions == y_test)

1056

In [37]:
sum((max_profit_predictions == y_test) & (y_test == True)) / sum(y_test == True)

0.5606382978723404

In [40]:
evaulate_by_race(X_test, max_profit_predictions, y_test)

asian
	Accuracy: 0.6583333333333333
black
	Accuracy: 0.7448979591836735
hispanic
	Accuracy: 0.7402597402597403
white
	Accuracy: 0.6788321167883211

In [41]:
def get_confusion_matrix(predictions, correct_answer):
  true_positive_rate = sum((predictions == correct_answer) & (correct_answer == True)) / sum(correct_answer == True)
  true_negative_rate = sum((predictions == correct_answer) & (correct_answer == False)) / sum(correct_answer == False)
  print("True Positive Rate ", true_positive_rate)
  print("True Negative Rate ", true_negative_rate)

In [42]:
print("Basic Model")
get_confusion_matrix(basic_model_test_predictions, y_test)

print("Max Profit Model")
get_confusion_matrix(max_profit_predictions, y_test)

Basic Model
True Positive Rate  0.8957446808510638
True Negative Rate  0.6842105263157895
Max Profit Model
True Positive Rate  0.5606382978723404
True Negative Rate  0.9280701754385965